.page5{
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:40px;
}
.pg5-div1,.pg5-div2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.shoe-container{
    display: flex;
    flex-direction: column;
    width:25vw;
    height:25vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(122, 70, 79, 0.25) 100%);
    align-items: center;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
}
.shoe-container img{
    height:300px;
    width:350px;
    z-index: 1000;
    position: absolute;
    top:20vh
}

.shoe-color-div{
    background: #e58b8d;
    height:18vh;
    width:80%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .dp-img-div,.keyboard-img-div{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(153, 56, 151, 0.25) 100%);
    display: flex;
    flex-direction: column;
    height:25vw;
    width:40vw;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    position: relative;
  }

  .dp-img-div img, .keyboard-img-div img,.generator-container img {
    height:60%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .keyboard-img-div{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(97, 67, 142, 0.25) 100%);
  }

  .generator-container{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(122, 70, 79, 0.25) 100%);
    display: flex;
    flex-direction: column;
    width:25vw;
    height:25vw;
    align-items: center;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
  }